@using SubChoice.Core.Data.Entities
@{
    ViewData["Title"] = "Subjects list";
}

<div class="d-flex justify-content-between my-4"><h1 class="p-0">@ViewData["Title"]</h1></div>


<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Teacher</th>
            <th scope="col">Participants</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @{
            var data = (List<Subject>)ViewData["Subjects"];
        }
        @foreach (var subject in @data)
        {
            <tr>
                <td onclick="location.href = '@(Url.Action("SubjectDetail", "Home", new { id = @subject.Id }))'">@subject.Name</td>
                <td>@subject.Teacher.User.DisplayName</td>
                <td>@subject.StudentSubjects.Count/@subject.StudentsLimit</td>

            </tr>

        }
    </tbody>
</table>
